---
import Section from "./Section.astro";
---

<Section class="hero" id="hero">
    <img src="../../src/images/mobile/image-header.jpg" alt="">
</Section>


<style>
    .hero
    {
        height: 100vh;
        width: 100vw;
    }

    .hero img
    {
        height: 100%;
        width: 100%;
    }
</style>